


<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<html>
<head>
<style>
figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
</style>
</head>
<body>





body {  
font-family: Open Sans, Arial, sans-serif;
font-size: 1em;
color: black;
font-weight: 500;
}

#name { 
	font-size:  3em;
	color: black;
	text-transform: uppercase;
}

blockquote {
	font-size: 1.4em;
	color:  indianred;
	
}

b {
	text-transform: uppercase;
	font-size: 1.5em;
	color: black;
}

h1 {
	font-family: 'Cinzel', serif;;
}

h2{
	font-family: 'Cinzel', serif;;
	font-size: 1.5em;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color:  indianred;
	font-weight: 400;
}


